In [66]:
import pandas as pd
import numpy as np

In [67]:
path='/Users/aymanamer/Downloads/country_vaccination_stats.csv'
df = pd.read_csv(path)
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [68]:
from IPython.display import display 
display(df)

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [71]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [72]:
dfgrouped = df.groupby('country')['daily_vaccinations']
df['country_min' ] = dfgrouped.transform('min')

In [74]:
df.head()

     country        date  daily_vaccinations   vaccines  country_min
0  Argentina  12/29/2020                 NaN  Sputnik V       6483.0
1  Argentina  12/30/2020             15656.0  Sputnik V       6483.0
2  Argentina  12/31/2020             15656.0  Sputnik V       6483.0
3  Argentina    1/1/2021             11070.0  Sputnik V       6483.0
4  Argentina    1/2/2021              8776.0  Sputnik V       6483.0

In [75]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df['country_min'])
df['daily_vaccinations']= df['daily_vaccinations'].fillna(0)
df['country_min']= df['country_min'].fillna(0)

In [76]:
df.head()

     country        date  daily_vaccinations   vaccines  country_min
0  Argentina  12/29/2020              6483.0  Sputnik V       6483.0
1  Argentina  12/30/2020             15656.0  Sputnik V       6483.0
2  Argentina  12/31/2020             15656.0  Sputnik V       6483.0
3  Argentina    1/1/2021             11070.0  Sputnik V       6483.0
4  Argentina    1/2/2021              8776.0  Sputnik V       6483.0

In [77]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
country_min           0
dtype: int64