## Code Implementation Tasks

4- Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero).

In [95]:
import pandas as pd
import numpy as np

In [109]:
path='/Users/aymanamer/Downloads/country_vaccination_stats.csv'
df = pd.read_csv(path)
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [110]:
from IPython.display import display 
display(df)

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [112]:
df.isna().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [113]:
dfgrouped = df.groupby('country')['daily_vaccinations']
df['country_min' ] = dfgrouped.transform('min')

In [114]:
df.head()

     country        date  daily_vaccinations   vaccines  country_min
0  Argentina  12/29/2020                 NaN  Sputnik V       6483.0
1  Argentina  12/30/2020             15656.0  Sputnik V       6483.0
2  Argentina  12/31/2020             15656.0  Sputnik V       6483.0
3  Argentina    1/1/2021             11070.0  Sputnik V       6483.0
4  Argentina    1/2/2021              8776.0  Sputnik V       6483.0

In [115]:
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df['country_min'])
df['daily_vaccinations']= df['daily_vaccinations'].fillna(0)
df['country_min']= df['country_min'].fillna(0)

In [116]:
df.head()

     country        date  daily_vaccinations   vaccines  country_min
0  Argentina  12/29/2020              6483.0  Sputnik V       6483.0
1  Argentina  12/30/2020             15656.0  Sputnik V       6483.0
2  Argentina  12/31/2020             15656.0  Sputnik V       6483.0
3  Argentina    1/1/2021             11070.0  Sputnik V       6483.0
4  Argentina    1/2/2021              8776.0  Sputnik V       6483.0

In [117]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
country_min           0
dtype: int64

5- Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.

In [118]:
df['country_median' ] = dfgrouped.transform('median')
df.head()

,country,date,daily_vaccinations,vaccines,country_min,country_median
0,Argentina,12/29/2020,6483.0,Sputnik V,6483.0,11645.0
1,Argentina,12/30/2020,15656.0,Sputnik V,6483.0,11645.0
2,Argentina,12/31/2020,15656.0,Sputnik V,6483.0,11645.0
3,Argentina,1/1/2021,11070.0,Sputnik V,6483.0,11645.0
4,Argentina,1/2/2021,8776.0,Sputnik V,6483.0,11645.0

In [121]:
df.groupby('country')['country_median'].max().reset_index().sort_values(['country_median'], ascending=False).head(3)

          country  country_median
58  United States        378253.0
8           China        276786.0
24          India        173922.0

6- What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset?

In [126]:
df.loc[df['date'] == '1/6/2021', 'daily_vaccinations'].sum()

1485255.0